<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.md"/>
    </typeAliases>
<!--    mappers 标签就是用来配置需要加载的 sql 映射配置文件路径的-->
    <mappers>
        <mapper resource="mybatis/mapper/CityMapper.xml"/>
       <!-- <mapper class="com.md.demo.dao.CityDao"/>-->
    </mappers>
</configuration>