<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件中的namespace是用于绑定Dao接口的，即面向接口编程  当你的namespace绑定接口后，你可以不用写接口实现类，mybatis会通过该绑定自动帮你找到对应要执行的SQL语句 接口中的方法与映射文件中的SQL语句的ID一一对应-->
<mapper namespace="com.md.demo.dao">

	<select id="listCities111" resultType="com.md.demo.vo.CityVo">
		select * from city1
	</select>
	
	<select id="listCities222" resultType="com.md.demo.vo.CityVo">
		select * from city2
	</select>

</mapper>